<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>KPcoin</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link href="css/styles.css" rel="stylesheet">

</head>

<body>

    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

                <a class="navbar-brand" href="<%=navSignedOut[0].Link%>">
                    <%=navSignedOut[0].Title%>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <% if (!user) {
          for(var i=2; i<navSignedOut.length;i++){%>
                        <li>
                            <a href="<%=navSignedOut[i].Link%>">
                                <%=navSignedOut[i].Title%>
                            </a>
                        </li>
                        <%}
            } else {
          for(var i=2; i<navSignedIn.length;i++){%>
                            <li>
                                <a href="<%=navSignedIn[i].Link%>">
                                    <%=navSignedIn[i].Title%>
                                </a>
                            </li>
                            <%}
                }%>


                                <!--    <li><a href="#">Blog</a></li>
        <li><a href="#contact">Contact</a></li> -->

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% if (!user) {%>
                        <li>
                            <a href="<%=navSignedOut[1].Link%>">
                                <%=navSignedOut[1].Title%>
                            </a>
                        </li>
                        <%} else {%>
                            <li>
                                <a href="<%=navSignedIn[1].Link%>">
                                    <%=navSignedIn[1].Title%>
                                </a>
                            </li>
                            <%}%>

                                <!-- <li><a href="#about">Sign in</a></li> -->
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">

        <div class="text-center">
            <p class="lead" align="left">Thanks for for the request to reset your password. Check your email (and junk email) for the link. Please note to help stop hackers from doing their thing I will not explicitly confirm if your email exists or doesn't exist on the system - if you don't get an email with a link, you may not have registered.</br>
                </br>
            </p>


        </div>

    </div>
    <!-- /.container -->
    <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
