<!DOCTYPE html>
<html lang="en">

<head>
 		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>KPcoin</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- <link href="css/bootstrap.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
        <link rel="icon" href="../assets/favicon.png">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/bootstrap.min.css">           
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
         <link href="../css/styles.css" rel="stylesheet"> 
         <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />   
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>   
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
                }
                return vars;
            }

        $(window).load(function() {
            const txhashid = getUrlVars()["txhash"];
            const currtxhashid = window.localStorage.shownAnimations;
            if (currtxhashid === txhashid) {
            dontShowAnimations();
            } else {
            localStorage.shownAnimations = txhashid;
            var z = document.getElementById("transaction__result");
            z.style.display = "none";
            getAnimationData().then(playNextAnimation);
            }
            });
    
        function dontShowAnimations(){
         var x = document.getElementById("no-show-on-refresh");
         var y = document.getElementById("transaction__result");
                x.style.display = "none";
                y.style.display = "block";
        }
    </script>
</head>

<body style="background-color:#fff; margin: 0;height: 100%">
<div id="no-show-on-refresh">   
    <div id="animation"></div> 
     <h3 id="copy" class="thin__padding"></h3> 
 </div>
    
 <nav>
    <div class="nav__container">
        <div class="nav__brand">
            <a href="/"> <img alt="" ; src="../assets/logo_primary.png" style="max-width:50px;height:50px;"></a>
           
        </div>
        <div class="nav__menu-mobile">
            <a href="#" onclick="toggleNavbarLinks()">
                <span class="nav__menu-mobile__text"></span>
                <span class="nav__menu-mobile__icon fa fa-bars"></span>
            </a>
        </div>     
    
    <ul class="nav__links">
        <% if (!user) {
          for(var i=2; i<navSignedOut.length;i++){%>
                    <li class="nav__link"><a href="<%=navSignedOut[i].Link%>"><%=navSignedOut[i].Title%></a></li>
                        <%}
            } else {
          for(var i=1; i<navSignedIn.length;i++){%>
                <li class="nav__link"><a href="<%=navSignedIn[i].Link%>"><%=navSignedIn[i].Title%></a></li>  
                <%}
                }%>
    </ul>
</div>
</nav>
<main id="transaction__result">
<div class="splash__no-background">
        <div class="copy__block-inverted-light">
                    <h1>You bought
                        <%=assetname%>
                    </h1>
                    <br>
            <a class="story-title" href=""><img alt="" src="../<%=assettb%>" style="width:100px;height:100px" class="img-circle"></a>
            <br>
            <br>
            <p class="black__font">Thanks for purchasing, your transaction details are below. You will receive a link to full version of the digital asset in your email</p>
            <br>
            </div>
          <% var txObj = JSON.parse(tx) %>
          <% var txHashStr = JSON.stringify(txObj.hash) %>
          <% var txHashStrFirstPart = txHashStr.slice(1,32) %>
          <% var txHashStrSecondPart = txHashStr.slice(32,txHashStr.length -1) %>
        <div class="copy__block-inverted">
          <h3>Transaction Details - The Important Bits</h3>
            </div>
             <span class="copy__block-center-medium">
                 <br>
           <b> <p>Hash:</p></b>
           <div class="copy__block-center-medium"><pre><%=txObj.hash%></pre></div>
           
            <small class="black__font" style="font-style: italic;text-align:left;">This unique identifier is used by your wallet and the miners on the network to lookup and check spent and unspent transactions.</small>
            <br>    
            <br>
        
                 <b><p>Height:</p></b>
                 <div class="copy__block-center-medium"><pre><%=txObj.height%></pre></div>
     
            <small class="black__font" style="font-style: italic">This is the number of blocks in the chain at the time the transaction was confirmed. If this reads "-1" it means the node in the network you're attached to has not updated yet - just refresh this page and it will be up-to-date.</small>
            <br>    
            <br>
    
                 <b><p>Fee:</p></b>
                 <div class="copy__block-center-medium"><pre><%=txObj.fee%>P</pre></div>
     
            <small class="black__font" style="font-style: italic">KPcoin uses the same logic as bitcoin to calculate a fee per transaction. This figure is calculated by the size of the data used to form the transaction and not the amount being paid/received.  This is because the size of a block is limited, so transactions made up of lots of smaller inputs will use up valuable block size. Once all of the bitcoin (and KPcoin) has been mined, then the main way miners will make money is via transaction fees like this.</small>
            <br>    
            <br>
                 
             <b><p>Confirmations: </p></b>
                 <div class="copy__block-center-medium"><pre><%=txObj.confirmations%></pre></div>
     
            <small class="black__font" style="font-style: italic">This is the "depth" of the block that holds the transaction. If this says "1" the transaction is in the block at the end of the chain. For larger transactions it's recommended to wait for 6 confirmations before taking action (e.g. sending goods to a customer). This is because at depth of 6 you can be sure that it's logically impossible to reverse or "double spend" the outputs.</small>
            <br>    
            <br>
                 
            <b><p>Input Values:  </p></b>
                <% for(var i=0; i<txObj.inputs.length;i++){%>
                 <% var commaval = txObj.inputs[i].value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
              <div class="copy__block-center-medium"><pre><%=commaval%>P</pre></div>
                 <%}%>
               
     
            <small class="black__font" style="font-style: italic">This is the value of an output of a previous transaction (or multiple transactions) that will be used to pay for the goods or services provided. Outputs cannot be subdivided, so the input will reference outputs that total more than that purchase price, with any left over being paid back to the purchaser in a "change" output (see outputs below). The input also includes an "unlocking" script (aka a digital signature) which proves that the payer is allowed to authorised to transfer the previously unspent transaction.</small>
            <br>    
            <br>
                 
            <b><p>Output Values:     </p></b>
                <% for(var i=0; i<txObj.outputs.length;i++){%>
                <% var commaval = txObj.outputs[i].value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                 <div class="copy__block-center-medium"><pre><%=commaval%>P</pre></div>
                 <%}%>
            
     
            <small class="black__font" style="font-style: italic">There will be at least two values here, one will be the purchase price, the other/s will be the change given back to the purchaser (minus the fee taken). The change becomes an unspent transaction output (UTXO) which can be used as an input for another transaction.</small>
            <br>    
            <br>
    
                 
                  <b><p>Raw Transaction Details</p></b> 
                  <small class="black__font" style="font-style: italic">If you want to geek out, here is a list of all of the transaction details.</small>
            <br>    
            <br>
                 
      
         <pre align="left" style="word-wrap: break-word; white-space: pre-wrap;"><%=tx%></pre>
          </span>

    </div>
    
    <div class="footer">
      
        <small class="footer_body"><a href="terms-of-use">Terms of use </a>&ndash;
            <a href="acceptable-use">Acceptable-use policy </a>&ndash;
           <a href="privacy-cookie-policy">Privacy and cookie policy</a>
            <br>
            &copy;myAxis Ltd (2017)        
        </small>
    </div>    

    

</main>
    <!-- /.container -->
    <!-- script references -->
    <script src="../js/script.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.13.0/bodymovin.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    
<script>

  var copy = [
    ['Validating transaction...', 'Transaction valid!'],
    ['Miners on the network are looking for new transactions...', 'Your transaction has been found by several miners!'],
    ['Miners are adding your transaction to their candidate block...', 'Candidate block created!'],
    ['Miners are racing to find a valid block hash id...', 'Winner found!'],
    'Block prize awarded to winning miner', 'Block added to the end of the blockchain!'
  ];
  var copyElement = document.getElementById('copy');
  var animationId = 0;
  var animationData;

  function playNextAnimation() {   
    
    var currentCopy = copy[animationId];
    copyElement.innerHTML = (currentCopy instanceof Array) ? currentCopy[0] : currentCopy;

    var animationElement = document.getElementById('animation');
    animationElement.innerHTML = '';

    var params = {
      container: document.getElementById('animation'),
      renderer: 'svg',
      loop: false,
      autoplay: true,
      animationData: animationData[animationId]
    };

    window.anim = bodymovin.loadAnimation(params);

    anim.onComplete = function () {
      copyElement.innerHTML = (currentCopy instanceof Array) ? currentCopy[1] : currentCopy;
     if (animationId === 0) {
        $("#no-show-on-refresh").fadeOut(1000);
      dontShowAnimations();
     } else {
        setTimeout(playNextAnimation, 2500);    
     };
         
    };
      
    animationId = animationId === (animationData.length - 1) ? 0 : animationId + 1;

  }

  function getAnimationData() {
    return Promise.all([
      $.get('../animations/anim1.json'),
      $.get('../animations/anim2.json'),
      $.get('../animations/anim3.json'),
      $.get('../animations/anim4.json'),
      $.get('../animations/anim5.json'),
      $.get('../animations/anim6.json')
    ]).then(function (responses) {
      animationData = responses;
    })
  }

</script>   
</body>
</html>
