<!DOCTYPE html>
<html lang="en">

<head>
 		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>KPcoin</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- <link href="css/bootstrap.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
        <link rel="icon" href="../assets/favicon.png">
        <link rel="stylesheet" href="../css/bootstrap.min.css">           
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
         <link href="../css/styles.css" rel="stylesheet"> 
         <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />   
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>   
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    if (window.performance) {
//        console.info("window.performance work's fine on this browser");
        }
        if (performance.navigation.type == 1) {
//            console.info( "This page is reloaded" );
            $(window).load(function() {
             var x = document.getElementById("no-show-on-refresh");
                if (x.style.display === "none") {
                    x.style.display = "block";
            } else {
                x.style.display = "none";
            }
            })
        } else {
            $(window).load(function() {
                $( ".loader__first" ).fadeIn(1000).delay( 5000 ).fadeOut(100);
                $( ".loader__second" ).delay( 12000 ).fadeOut(100);
                $( ".loader__third").delay( 18000 ).fadeOut(100);
                $( ".loader__fourth").delay( 22000 ).fadeOut(100);
                $( ".loader__fifth").delay( 28000 ).fadeOut(1000);
            });
        }
    </script>
</head>

<body>
<div id="no-show-on-refresh">   
    <div class="loader__first"></div>
    <div class="loader__second" ></div>
    <div class="loader__third"></div>
    <div class="loader__fourth"></div>
    <div class="loader__fifth"></div>
</div> 
    
 <nav>
    <div class="nav__container">
        <div class="nav__brand">
            <a href="/"> <img alt="" ; src="../assets/logo_primary.png" style="max-width:50px;height:50px;"></a>
           
        </div>
        <div class="nav__menu-mobile">
            <a href="#" onclick="toggleNavbarLinks()">
                <span class="nav__menu-mobile__text"></span>
                <span class="nav__menu-mobile__icon fa fa-bars"></span>
            </a>
        </div>     
    
    <ul class="nav__links">
        <% if (!user) {
          for(var i=2; i<navSignedOut.length;i++){%>
                    <li class="nav__link"><a href="<%=navSignedOut[i].Link%>"><%=navSignedOut[i].Title%></a></li>
                        <%}
            } else {
          for(var i=1; i<navSignedIn.length;i++){%>
                <li class="nav__link"><a href="<%=navSignedIn[i].Link%>"><%=navSignedIn[i].Title%></a></li>  
                <%}
                }%>
    </ul>
</div>
</nav>
<main>
<div class="splash__no-background">
                    <h1>You bought
                        <%=assetname%>
                    </h1>
                    <br>
            <a class="story-title" href=""><img alt="" src="../<%=assettb%>" style="width:100px;height:100px" class="img-circle"></a>
            <br>
            <br>
            <p class="lead" align="left">Thanks for purchasing, your transaction details are below. You will receive a link to full version of the digital asset in your email</p>
            <br>
          <% var txObj = JSON.parse(tx) %>
          <% var txHash = txObj.hash %>
          <h4><span class="">Transaction details: </span></h4>
         <pre align="left" style="word-wrap: break-word; white-space: pre-wrap;"><%=tx%></pre>

    </div>
    

</main>
    <!-- /.container -->
    <!-- script references -->
    <script src="../js/script.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
